html{
  min-height: 100%;
}
body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-position: no-repeat;
    background-attachment: fixed;

    background: rgb(195, 231, 199);
}
* {
    text-decoration: none;
    font-size: 30px;
  }
form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

input[type="text"] {
    width: 70%;
    height: 52px;
    padding: 16px 16px 5px;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    line-height: 18px;
    background: #f5f7fa;
    margin-bottom: 20px;
}
input[type="password"] {
    width: 70%;
    height: 52px;
    padding: 16px 16px 5px;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    line-height: 18px;
    background: #f5f7fa;
    margin-bottom: 20px;
}



.wrapper{
  padding-top: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.btn{
    display: block;
    width: 250px;
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color:  #c22823;
    border: 2px solid #9b0707;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px;

    position: relative;
    transition: all .35s;
  }
  
.btn span{
    position: relative;
    z-index: 2;
  }
  
.btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9e0d0d;
    transition: all .35s;
  }
  
.btn:hover{
    color: #ffffff;
  }
  
.btn:hover:after{
    width: 100%;
  }
.container_reg{
    height: 500px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color:rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.switcher{
  color: rgb(180, 180, 180); 
  font-size: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #35a14b76;
  position:absolute;
  width:100%;
}

.topnav a.click {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  
}

.topnav a.click:hover {
  background-color: #8ee997;
  color: black;
}

.topnav a.click.active {

  color: white;
}

.container {
  position: relative;
  padding-bottom: 100px;
}
